* {
  background-color: black;
  text-decoration: none;
  color: whitesmoke;
}
/* NAVIGATION*/
h1 {
  display: block;
  margin: 0, auto;
  text-align: center;
}

.logo div h1 {
  text-align: left;
}

h3 {
  display: block;
  margin: 0 auto;
  text-align: center;
}

ul li {
  text-align: center;
}

p {
  text-align: center;
}
