@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

html {
  scroll-behavior: smooth;
}

/* C O L O R S 

$coffee: #cdaea8
$light-coffee: #f2eae8
$dark-brown: #8b5a50
$light-gray: #ececec
$blk: #5a5a5a */

.personal-logo {
  height: 200px;
  width: 200px;
}

img {
  max-height: 100%;
  max-width: 100%;
}
.hero {
  padding: 30px, auto;
  /* text-align: left;
  max-width: 700px;
  max-height: 700px;
  padding-left: 60px; */
}

h1 {
  font-family: "Yellowtail", cursive;
  font-size: 50px;
  padding-top: 20px;
  text-align: center;
}

h3 {
  color: #8b5a50;
  font-family: "Urbanist", sans-serif;
  text-align: center;
}

h6,
#city {
  font-family: "Urbanist", sans-serif;
  text-align: center;
}

h6 {
  font-family: "Urbanist", sans-serif;
  text-align: center;
}

#bio {
}

p {
  color: #5a5a5a;
  font-family: "Urbanist", sans-serif;
}

a {
  color: #8b5a50;
  text-decoration: none;
}

a:hover {
  color: #5a5a5a;
  text-decoration: none;
  padding-left: 2px;
}

button {
  background: #ffffff;
  color: #8b5a50;
  padding: 10px 20px;
  border: 1px solid #8b5a50;
  text-transform: uppercase;
  font-size: 13px;
  display: block;
  margin: 0 auto;
}

button:hover {
  color: #5a5a5a;
  border: 1px solid #5a5a5a;
}

.selfie {
  background-image: url(/assets/images/selfie.jpeg);
  background-position: 50% 60%;
  height: 500px;
  background-size: cover;
  float: right;
}

.dev-info {
  padding: 3rem 2rem;
}

.nav {
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.nav a {
  text-decoration: none;
  color: #5a5a5a;
  padding: 10px 0px 10px 20px;
  font-size: 12px;
  font-family: "Urbanist", sans-serif;
  text-transform: uppercase;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}

.nav a:hover {
  background: #f2eae8;
}

.navicon {
  background: #8b5a50;
}

.navbar-nav a {
  color: #5a5a5a !important;
}

.home {
  height: 600px;
}

.bio {
  height: 550px;
}

.bio p {
  border-left: 10px solid #f2eae8;
  padding-left: 15px;
  width: 80%;
}

.about {
  background: #ececec;
  margin-top: 30px;
}

.about ul {
  list-style-type: none;
}

.about li {
  background: url("assets/images/checkmark.png") no-repeat left top;
  background-size: 20px;
  height: 50px;
  padding-left: 25px;
  font-weight: bold;
  font-family: "Urbanist", sans-serif;
}

.contact {
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  background: #f2eae8;
}

.col-md-4 {
  padding: 20px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

:hover .col-md-4 {
  background: #ececec;
}

.col-md-4 img {
  max-width: 25px;
  padding-bottom: 15px;
}

.email-contact {
  border-right: 1px solid #ffffff;
}

.linkedin-contact {
  border-right: 1px solid #ffffff;
}

.projects {
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.projects p {
  border-left: 5px solid #ececec;
  padding-left: 10px;
  font-size: 12px;
}

.projects img {
  max-width: 100%;
}

.projects h6 a {
  color: #5a5a5a;
}
/*# sourceMappingURL=style.css.map */
